@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');

@keyframes drehen {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(90deg);
    }
}

:root {
    --backgroundBeige: #fffcf6;
    --TextBrownRegular: #3C271E;
    --TextBrownLight: #6d4f42;
    --buttonLightBrown: #D5B895;
}

html {
    scroll-behavior: smooth;
}

* {
    font-family:'PT Serif', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: var(--TextBrownRegular);
    box-sizing: border-box;
}

header {
    text-align: center;
    background-image: url(../images/LavenderFieldBrownTint.png);
    background-size: 100%;
    background-position-y: 35%;
    height: 200px;
    vertical-align: center;
}

header h1 {
    color: var(--backgroundBeige);
    margin-top: 0;
    padding-top: 56px;
}

header p {
    color: var(--backgroundBeige);
}

body {
    display: flex;
    flex-flow: column wrap;
    margin: 0 0 0 0;
    background-color: var(--backgroundBeige);
}

nav {
    padding: 2px;
    display: grid;
    vertical-align: middle;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2px;
}

h2 {
    text-align: center;
}

h3 {
    text-align: center;
}



.divider {
    width: 75%;
    align-self: center;
    border-bottom: 1px solid var(--buttonLightBrown);
}

.knopf {
    background-color: var(--buttonLightBrown);
    border: 0px solid #a08e6f;
    border-radius: 5px;

    color: var(--backgroundBeige);
    font-size: 1em;

    text-align: center;
    padding: 7px;
    text-decoration: none;
}

#Dropdown *  {
    margin: 0;
    background-color: var(--buttonLightBrown);
    color: var(--backgroundBeige);
}

.zutaten {
    position: relative;
    height: min-content;
}
    .zutaten input {
        width: 100%;
        height: 35px;
        position: absolute;
        opacity: 0;
        top: 0;
        left: 0;
        z-index: 3;
        cursor: pointer;
    }
        .zutaten input:checked ~ .drawer__name #Arrow {
            display: inline-block;
            animation: drehen 0.2s ease-in-out;
            animation-fill-mode: forwards;
        }
        .zutaten input:checked ~ .knopf {
            border-bottom-left-radius: 0px;
            border-bottom-right-radius: 0px;
        }
        .zutaten input:checked ~ table {
            opacity: 1;
            pointer-events: initial;
            padding: 10px 0;
            visibility: visible;
        }

    .zutaten table {
        opacity: 0;
        pointer-events: none;
        transition: padding 0.2s;
        visibility: collapse;

        margin-left:0;
        margin-right:0;
        border-collapse: collapse;
        width: 100%;
        color: rgb(119, 111, 92);
    }
        .zutaten table tr:nth-child(2n) {
            background-color:  rgb(255, 255, 255);
        }
        .zutaten table tr:nth-child(2n + 1) {
            background-color:  rgb(239, 227, 209);
        }
        .zutaten table th, td {
            border: 0px solid rgb(157, 147, 126);
            padding: 10px;
        }
        .zutaten table td:nth-child(1) {
        font-weight: bolder;
        float: right;
    }

#Geschichte {
    margin: 0 2.5%;
}

#Rezept > div {
    margin-bottom: 3%;
    height: min-content;
    display: flex;
    justify-content: center;
    align-items: center;
}

    .bild {
    -moz-box-shadow: 0 0 3px rgb(0, 0, 0);
    -webkit-box-shadow: 0 0 3px rgb(0, 0, 0);
    box-shadow: 0 0 3px rgb(0, 0, 0);
    /* flex-basis: 20%;
    max-width: 40%; */
    display: block;
    object-fit: cover;
    width: 30%;
    height: 160px;
    margin: 0 2%;
    }
    .text {
    width: 50%;
    }

    .topf .bild {
    object-position: bottom;
    }

#Variationen {
    margin: 0 2.5%;
}

@media (min-width: 764px) {

    .content {
        display: flex;
        justify-content: space-between;
    }
    .links , .rechts {
        width: 15%;
    }

    .mitte {
        width: 60%;
        display: flex;
        flex-direction: column;
    }

    nav {
        display: flex;
        flex-flow: column;
        width: 100%;
    }
    .zutaten {
        margin: 5px 1px;
    }

    .links_div {
        display: flex;
        flex-flow: column;
        position: fixed;
        width: 15%;
    }

}